*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bin.* filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
 
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
 
 
*.mat filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zstandard filter=lfs diff=lfs merge=lfs -text
*.tfevents* filter=lfs diff=lfs merge=lfs -text
*.db* filter=lfs diff=lfs merge=lfs -text
*.ark* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*data* filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.meta filter=lfs diff=lfs merge=lfs -text
**/*ckpt*.index filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m3u8 filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.audio filter=lfs diff=lfs merge=lfs -text
 
*.flv filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.rmvb filter=lfs diff=lfs merge=lfs -text
*.rm filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.flash filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ost filter=lfs diff=lfs merge=lfs -text
*.pst filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
 
dataset_infos.json ignore
*.csv filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text

glamm_data.tar.gz filter=lfs diff=lfs merge=lfs -text
ref_sav.tar.gz filter=lfs diff=lfs merge=lfs -text
ref_seg.tar.gz filter=lfs diff=lfs merge=lfs -text
reason_seg.tar.gz filter=lfs diff=lfs merge=lfs -text

VTS-CoT.tar.gz filter=lfs diff=lfs merge=lfs -text

MomentSeg-RL.tar.gz filter=lfs diff=lfs merge=lfs -text

video_datas/reasonvos.tar.gz filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.ae filter=lfs diff=lfs merge=lfs -text
VTG/NumPro_FT.tar.gz.ac filter=lfs diff=lfs merge=lfs -text
video_datas/revos.tar.gz filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.ad filter=lfs diff=lfs merge=lfs -text
video_datas/mevis.tar.gz filter=lfs diff=lfs merge=lfs -text
llava_data.tar.gz.ab filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.aa filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.ac filter=lfs diff=lfs merge=lfs -text
VTG/NumPro_FT.tar.gz.aa filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ah filter=lfs diff=lfs merge=lfs -text
llava_data.tar.gz.ac filter=lfs diff=lfs merge=lfs -text
video_datas/ref_sav_eval.tar.gz filter=lfs diff=lfs merge=lfs -text
VTG/NumPro_FT.tar.gz.ab filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_final_custom.json filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.aa filter=lfs diff=lfs merge=lfs -text
video_datas/rvos.tar.gz filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_final_v3.json filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.ab filter=lfs diff=lfs merge=lfs -text
video_datas/Long-RVOS.tar.gz.ab filter=lfs diff=lfs merge=lfs -text
llava_data.tar.gz.aa filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ad filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ac filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ag filter=lfs diff=lfs merge=lfs -text
video_datas/chat_univi.tar.gz filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ae filter=lfs diff=lfs merge=lfs -text
VTG/TimeLens-100K.tar.gz.af filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ai filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.af filter=lfs diff=lfs merge=lfs -text
video_datas/sam_v_full.tar.gz.ab filter=lfs diff=lfs merge=lfs -text
video_datas/Long-RVOS.tar.gz.aa filter=lfs diff=lfs merge=lfs -text
video_datas/davis17.tar.gz filter=lfs diff=lfs merge=lfs -text
video_datas/GroundMoRe.tar.gz filter=lfs diff=lfs merge=lfs -text
